<!DOCTYPE html>
<html>
<head>
    <title>Twitter Publisher Tool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <script src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type=text/javascript>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        var socket;
        $(document).ready(function () {
            var do_get_spam_info = function () {
                $.ajax({
                    type: "GET",
                    url: '/get_spam_infos',
                    success: function (data) {
                        $("#number_users_spam").text(data['number_users_spam']);
                        $("#number_posts_spam").text(data['number_posts_spam']);
                        $("#number_locked_spam").text(data['number_locked_spam']);
                        $("#number_signin_failse").text(data['number_signin_failse']);
                    }
                });
            };

            var do_get_thread_info = function () {
                $.ajax({
                    type: "GET",
                    url: '/get_dir_infos',
                    success: function (data) {
                        var idx;
                        for (idx = 1; idx <= data['number_dir']; idx++) {
                            $("#"+'name'+idx ).text(data['name'][idx-1]);
                            $("#"+'num_post_'+idx ).text(data['num_post_'][idx-1]);
                            $("#"+'num_target_spam_'+idx ).text(data['num_target_spam_'][idx-1]);
                            $("#"+'status_'+idx ).text(data['status_'][idx-1]);
                            if (data['status_'][idx-1]=='RUNNING') {
                                $("#" + 'status_' + idx).attr('class', 'status-running');
                            } else if (data['status_'][idx-1]=='DONE'){
                                $("#"+'status_'+idx ).attr('class', 'status-done');
                            } else {
                                $("#"+'status_'+idx ).attr('class', 'status-error');
                            }

                        }

                    }
                });
            };
            setInterval(do_get_spam_info, 5000);
            setInterval(do_get_thread_info, 5000);


        });
    </script>
</head>
<body>
<div class="container bordered" style="padding-top: 15px; margin-top: 50px">
    <div class="row">
        <div class="col-12">
            <h1 id="title-app">Twitter Publisher Tool</h1>
        </div>
    </div>

    <div class="row">
        <div class="col" style="margin-top: 25px; margin-bottom: 30px;">
            <div style="float: left;">
                <div class="spinner-border" role="status">
                </div>
            </div>
            <div style="margin-top: 5px; padding-left: 45px;">
                <span>Running ...</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <div class="statis statis-success">
                <div class="statis-title">Users spam</div>
                <div class="statis-counter">
                    <span id="number_users_spam">0</span>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="statis">
                <div class="statis-title">Posts</div>
                <div class="statis-counter">
                    <span id="number_posts_spam">0</span>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="statis statis-danger">
                <div class="statis-title">Locked</div>
                <div class="statis-counter">
                    <span id="number_locked_spam">0</span>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="statis statis-danger">
                <div class="statis-title">Signin Failse</div>
                <div class="statis-counter">
                    <span id="number_signin_failse">0</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-app mt-30">
        <div class="row">
            <div class="col-3">
                <form method="post" action="/index" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file_user_twitter">Twitter users</label>
                        <input type="text" name="file_user_twitter" class="form-control" placeholder="Enter path file" value='C:\Users\Lam\Documents\TOVANLAM_MMO\Twitter_auto_tweet\test\file_user_twitter\nick.txt'>
                    </div>
                    <div class="form-group">
                        <label for="file_user_data">Duong Dan Data</label>
                        <input type="text" name="file_user_data" class="form-control" placeholder="Enter path file" value="C:\Users\Lam\Documents\TOVANLAM_MMO\Twitter_auto_tweet\test\file_user_data\spam">
                    </div>
                    <div class="form-group">
                        <label for="number_threads">So Luong Thread</label>
                        <input type="number" class="form-control" name="number_threads" autocomplete="off" value="1"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="file_proxy">Duong Dan Proxy</label>
                        <input type="text" name="file_proxy" class="form-control" autocomplete="off"
                               placeholder="Enter path file"  value="C:\Users\Lam\Documents\TOVANLAM_MMO\Twitter_auto_tweet\test\file_proxy\proxy.txt"  required>
                    </div>

                    <div class="btn-group" style="width: 100%; margin-top: 50px;">
                        <button type="submit" class="btn btn-primary" value="Submit"
                                style="width: 50%; min-height: 45px;">Update
                        </button>
                    </div>

                </form>
                <button type="submit" class="btn btn-danger" style="width: 50%; min-height: 45px;">Stop</button>
            </div>

            <div class="col-9">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Folder</th>
                            <th>Number Post</th>
                            <th>User Spams</th>
                            <th>Status</th>
                        </tr>
                        </thead>

                        <tbody>
                        {%  for idx in list_folders %}
                        <tr>
                            <td id="{{ idx }}">{{ idx }}</td>
                            <td id="{{ 'name'+idx  }}">0</td>
                            <td id="{{ 'num_post_'+idx }}">0</td>
                            <td id="{{ 'num_target_spam_'+idx }}">0</td>
                            <td id="{{ 'status_'+idx }}"><span class="status-running">Running</span></td>
                        </tr>
                        {%  endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
